<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- <title>{{ title }}</title> -->
  <title>Welome, Django</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'helloapp/site.css' %}" />
</head>

<body>
  <span class="message">Hello, there {{ name }}!</span> It's {{ date | date:'l, d F, Y' }} at {{ date | time:'H:i:s' }}.
</body>

</html>